p {
  font-family: Lato;
}

table.sjs-table > tbody > tr:first-child > td {
  background-color: lightgreen;
}

table.sjs-table > tbody > tr {
  height: 100px;
}
table.sjs-table > tbody > tr > td,
th {
  width: 200px;
}
